// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'~slick-carousel/slick/slick.css';

@import'~slick-carousel/slick/slick-theme.css';

@import '~dropzone/dist/basic';

@import '~dropzone/dist/dropzone';

@import '~flag-icon-css/sass/flag-icon';

@import'style';
